body {
    font-family: 'Robot', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #1f1b29;
    transition: height 100vh;
    overflow: hidden;
    /* Prevents scrollbars during animation */
}

button {
    background: none;
    color: #ffa260;
    border: 3px;
    border-style: solid;
    padding: 1em 2em;
    font-size: 1em;
    animation: slideDown 1.5s ease-out forwards;
    /* Animates button downwards */

}

button:hover {
    border-color: #f1ff5c;
    color: white;
    box-shadow: 0 0.5em 0.5em -0.4em #f1ff5c;
    transition: margin-bottom 0.01s;
    margin-bottom: 0.25em;
    cursor: pointer;

}


/* Define the keyframes for the slide down animation */
@keyframes slideDown {
    0% {
        top: 0;
        opacity: 0;
    }

    100% {
        top: 50%;
        transform: translateY(-50%);
        opacity: 1;
    }
}